@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-[Montserrat];
    }
}


/* Spinner */
.loader {
    margin: 20px auto;
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #0c0e0f; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* lists */
  li {
    padding: 10px;
    border: 1px solid gray;
    margin: 10px auto;
    border-radius: 10px;
  }